@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.popup-container {
  position: absolute;
  width:80%;
  display: grid;
  margin: auto;
  left: 0;
  right: 0;
  grid-template-columns: 50% 50%;
  border: 2px solid black;
  font-family: 'Manrope', sans-serif;
}

.image-container {
  position: relative;
}

.img-1 {
  width: 90%;
}
.img-2 {
  position: absolute;
  width: 40%;
  left: 27%;
  top: 10%;
}


.form-container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.form-container div{
}
.form-container>div .logo{
    width:50%;
}

.form-heading{

}
.form-heading h2{
    font-size: 35px;
    font-weight: 900;
    margin: 0px;
}
.form-heading div{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.8px;
}